/* ==========================================================================
   Map Builder Styles
   ========================================================================== */

.sprite-container {
    line-height: 0px;
}

.sprite-container .sprite {
    min-width: 32px;
    min-height: 32px;
    background-image: url("img/sprites.jpeg");
    background-position: 0px 0px;
    display: inline-block;
    overflow: auto;
}

.sprite-container .sprite.canvas:hover {
    -webkit-opacity: 0.95;
    -moz-opacity: 0.95;
    opacity: 0.95;
}

div#sprite_selector .sprite-container .sprite.selected {
    -webkit-transform: scale(1.1, 1.1);
    -moz-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
    position: relative;
    z-index: 9999; /* brings to the front */
}

div#map_builder {
    vertical-align: center;
}

div#map_builder div#sprite_selector {
    float: left;
    background-color: lightgrey;
    display: inline-block;
    width: 31%;
    min-width: 50px;
    padding: 10px;
    margin: 10px;

    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    /*IE 7 AND 8 DO NOT SUPPORT BORDER RADIUS*/
}

div#map_builder div#sprite_selector select {
    width: inherit;
    display: inline-block;
}
div#map_builder div#sprite_selector a {
    float: right;
}

div#map_builder div#map_canvas {
    background-color: grey;
    display: inline-block;
    width: auto;
    /*min-width: 650px;*/
    padding: 10px;
    margin: 10px;

    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    /*IE 7 AND 8 DO NOT SUPPORT BORDER RADIUS*/
}
